.dropzone {
    border: 2px dashed #cccccc;
    padding: 20px;
    text-align: center;
}

.upload-section,
.task-img-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: black solid 1px;
    background-color: #babcbbe2;
    cursor: pointer;
    border-radius: 6px;
    color: #091b1b;
}

.upload-section.is-dragging {
    border-color: green;
    background-color: aquamarine;
}

.upload-section p {
    width: 200px;
}

.upload-section input {
    margin: 20px 0;
}

.preview {
    margin-top: 80px;
    width: 125px;
    height: 125px;
    border-radius: 60%;
    object-fit: cover;
    border: 2px solid #ccc;
}

.task img {
    max-width: 50px;
    max-height: 50px;
    border-radius: 5px;
}