form {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 400px;
    margin: auto;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input {
    width: 100%;
    padding: 8px;
    margin-bottom: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .input-container input:focus {
    outline: blue 1px solid;
  }
  
  .invalid input {
    border: 2px solid red;
    background-color: #ffe6e6;
  }
  
  .invalid span {
    color: red;
    font-size: 0.9em;
  }
  